/* Global
https://dl.dropbox.com/s/73art4xz3mrom9t/JpopWoodyzbot2.css
 */
* {
	padding: 0em;
	margin: 0em;
}

html {
	width: 100%;
}

body {
	width: 100%;
	background: #3A1809 url('https://i.imgur.com/gu0AVqb.jpg');
	font-family: tahoma, helvetica, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
}
body td {
	color: #FFFFFF;
}


/* Common elements */

a {
	color: #ffffff;
	text-decoration: none;
	border: none;
}
a:hover {
	text-decoration: none;
	color: #C0C0C0;
}

a.similar_artist {
	background-color: #444444;
	display: block;
	padding: 1px 4px;
	color: #FFF;
	border: 1px solid #fff;
}

a.similar_artist:hover {
	background-color: #555;
}

.similar_artist_header {
	color: #FFF;
	background-color: #666;
	border: 1px solid #fff;
	padding: 3px 5px;
}

h1,h2,h3,h4 {
	margin: 5px 0px;
}

h2 {
	text-align: center;
	color: #ffffff;
}

h4 {
	font-size: 8pt;
}

p {
	margin: 10px 5px;
	color: #ffffff;
}

li {
	margin: 5px 15px;
	color: #bebebe;
}

span.stat {
	color: #aaaaaa;
}

input {
	padding: 2px 3px;
	border: 1px solid rgba(255,255,255,0.26);
	background-color: rgba(255,255,255,0.08);
	color: #ffffff;
}

textarea {
	padding: 2px 3px;
}

textarea#quickpost {
	background-color: rgba(255,255,255,0.57);
	width: 98%;
	margin-bottom: 2px;
	color: #060606;
}


img {
	border: none;
}

/* Ratio Colors */

.r00 { color: red; }
.r01 { color: #FF1300; }
.r02 { color: #FF1300; }
.r03 { color: #FF2600; }
.r04 { color: #FF4C00; }
.r05 { color: #FF5E00; }
.r06 { color: #FF5E00; }
.r07 { color: #FF7100; }
.r08 { color: #FF9700; }
.r09 { color: #FFAA00; }
.r10 { color: #74C42E; }
.r20 { color: #418B00; }
.r50 { color: #418B00; }
.r99 { color: #418B00; }

/* Styles generated by the BBCode parser */

span.size1 { font-size:0.75em; }
span.size2 { font-size:1em; }
span.size3 { font-size:1.25em; }
span.size4 { font-size:1.5em; }
span.size5 { font-size:1.75em; }
span.size6 { font-size:2em; }
span.size7 { font-size:2.25em; }
span.size8 { font-size:2.5em; }
span.size9 { font-size:2.75em; }
span.size10 { font-size:3em; }

ul.thin { margin:0px 0px 0px 25px; padding:0px; }
ul.thin li { margin:0px 0px; padding:0px; }

/* Layout (Every page) */

#header {
	width: 100%;
	min-width:860px;
	padding: 0px 0 0 0;
	margin-bottom: 15px;
	background: none;
	
}

#content {
	width: 77%;
	//width: 1070px;
	min-width:860px;
	background: rgba(0,0,0,0.32);
	margin: 0px auto 0px auto;
	padding: 0.6em;
	border-left: 1px solid rgba(45,45,45,0.34);
	border-right: 1px solid rgba(45,45,45,0.34);
	border-top: 1px solid rgba(45,45,45,0.34);
	border-bottom: rgba(19,19,19,0.34);
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
}

#footer {
	margin-top: 30px;
	margin-bottom: 40px;
	width: 100%;
	text-align: center;
	position:relative;
	color: #000000;
	padding: 1em 0;
	border-top: 0px solid black;
}

#logo {
	width: 23%;
	height: 75px;
	background: url('https://i.imgur.com/XmBojUe.png') no-repeat center center;
	position: absolute;
	left: 0px;
}

#logo a {
	border: none;
	width: 100%;
	height: 60px;
	display: block;
}

#logo a:hover {
	border: none;
}

#menu {
	width: 70%;
	margin-left: 200px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	height: 30px;
	text-align: center;
	font-size: 9pt;
	padding-top: 28px;
	font-weight: bold;
}

#menu ul li {
	margin: 0px;
	display: inline;
	margin-top: 0.8em;
}

#menu ul li a {
	padding: 1.1em 1.0%;
	color: #ffffff;
	text-shadow: black 0.1em 0.1em 0.2em;
}
#menu ul li a:hover {
	outline: none;
	color: #ffffff;
	text-decoration: none;
	text-shadow: #dddddd 0.1em 0.1em 0.2em;
}

#userinfo {
	position: fixed;
	bottom: 0px;
	background: url('https://i.imgur.com/gu0AVqb.jpg');
	color: #ccc;
	padding: 2px 0px;
	width: 100%;
	text-align: center;
	font-size: 8pt;
	border-top: #000000 1px solid;
	z-index: 999;
	text-shadow: black 0.1em 0.1em 0.2em;
}


#userinfo img {
	margin-top: -5px;
}

#userinfo ul {
	display: inline;
	margin: 0px 0.8%;
}
#userinfo ul li {
	position: relative;
	display: inline;
	margin: 0 0.1em;
	line-height: 20px;
	vertical-align: middle;
	padding: 0px;
}

#userinfo a, #userinfo a:visited {
	color: #aaaaaa;
}
#userinfo a:hover {
	text-decoration: none;
	color: #aaaaaa;
}

#userinfo_username {
	color: #aaaaaa;
	float: left;
	font-weight: bold;
}


#userinfo_major {
	color: #aaaaaa;
	float: right;
}

#userinfo_minor {
	color: #aaaaaa;
}

#userinfo_stats {
	color: #aaaaaa;
}



#searchbars {
	padding: 4px 0px 4px 0px;
	height: 18px;
	background: rgba(0,0,0,0.32);
	border-bottom: 1px solid;
	text-align: center;
	border-top: 1px solid;
	border-color: rgba(45,45,45,0.34);
}

#searchbars form {
	display: inline;
}

#searchbars input {
	background-color: rgba(ee,ee,ee,0.66);
	border: 1px solid rgba(0,0,0,0.8);
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color: #ffffff;
	position: relative;
	top: -1px;
	padding: 3px
}
#autocomplete {
	background: url('images/content.png');
	border: 1px solid #EEE;
	list-style: none;
	position: relative;
	top:-1px;
}
#searchbars ul {
	margin: 0 auto;
	display: block;
}

#searchbars ul li {
	display: inline;
	margin: 0px 1px;
	list-style: none;
	position: relative;
}

#searchbars ul li ul {
		display: block;
        position: absolute;
        top: 1em;
		left: 0;
        z-index: 1000;
        width: 12em;
        margin-top: 12px;
}

#searchbars ul li ul li {
        margin: 0
        padding: 0;
        display: block;
        width: 100%;
	background: #303030;
}
#searchbars ul li ul li.highlight {
	background: #454545;
}
#searchbars input:hover {
}

li.searchbars {
	font-size: 11px;
	float: left;
	margin: 16px 0px 12px 25px;
}

.alertbar {
	padding: 3px 0px 2px 0px;
	background-color: rgba(245,245,220,0.32);
	text-align: center;
	color: #ECDEDE;
	font-weight: bold;
	margin-bottom: 3px;
}
.alertbar a {
	color: #BBBBBB;
	text-decoration: none;
}
.alertbar a:hover {
	color: #FFF;
	text-decoration: none;
}

.blend {
	background: rgba(0,0,0,0.32);
}

/* IE doesn't appear to like a simple display:none in our header. Random things start fucking up pretty badly. */
.hidden {
	position: absolute;
	left: -10000px;
}

input.hidden {
	position: absolute;
	display: none;
}

/* Layout (Any page) */


.thin {
	width: 850px;
	margin-left:auto;
	margin-right:auto;
}

.widethin { /* overriding the thin class on torrents.php */
	width: 95% !important;
	margin: 0px auto;
}

div.linkbox {
	text-align:center;
	padding: 5px;
	color: #666666;
}

div.linkbox a {
	color: #ffffff;
}
 #nav_index a { /* extraneous link which can be removed to accomodate for small screen resolutions - alt link is provided in the form of the logo */
	display: none;
}
.center {
	text-align: center;
}

.right {
	text-align: right;	
}

.min_padding {
	padding: 0px;
	margin: 0px 0px;
}
.last_read a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover { border: none; }
.last_read a:active, .last_read a:focus { outline: 0; }
p.min_padding {
	margin: 2px 0px;
}

.pad {
	padding: 1em;
	color: #bebebe;
	background-color: none;
}

.vertical_space {
	margin-bottom: 10px;
}

.box {
	font-size: 8pt;
	background-color: rgba(7,14,21,0.58);
	border: 1px solid #292929;
}

.pad h3, .pad h4, .padbox h3, .padbox h4 {
	margin-top: 0px;
	padding-top: 0px;
}

.sidebar {
	float: right;
	width: 250px;
	height: 100%;
}

.sidebar .box {
	margin: 0px 5px 10px 5px;
}

.head {
	padding: 4px;
	border-bottom: 1px solid #555555;
	background:url('https://i.imgur.com/gu0AVqb.jpg') top left repeat;
	font-weight: bold;
	color: #cccccc;
}
.head.a {color:#000000}

.body {
	padding: 3px 10px 10px 10px;
}

.main_column {
	margin: 0px 255px 10px 0px;
	width: 590px;
}
.main_column .group {
	background: rgba(7,14,21,0.57);
}

.main_column .box, .main_column table {
	margin-bottom: 10px;
}

.tags {
	padding: 0px 0px 0px 20px;
	font-style: italic;
}

.tags a {
	color: #C9C9C9;
}

.tags a:hover {
	color: #FFFFFF;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration: underline;
}

.noborder {
	border: none;
}



ul.nobullet {
	list-style-type: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #000000;
}

tr {
	background: none;
}

.body a {
	color:#66B3FF;
}

.body strong a {
	color:#fff;
}

ul.stats li a {
	color: #fff;
}

td.edition_info {
	//background-color: rgba(7,14,21,0.27);
	color: #8ACABF;
}

input#file{
	color: #5a5a5a;
}

tr.rowa, .rowb {
	background: rgba(7,14,21,0.57);
}

td {
	border: 1px solid #000000;
	padding: 5px;
	text-align: left;
	color: #000000;
	background: none;
}

.colhead {
	font-weight: bold;
	color: #000000;
	background:url('https://i.imgur.com/gu0AVqb.jpg') top left repeat;
}

td.colhead, .colhead td {
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	color: #cccccc;
	color: #cccccc;
}



.colhead .sign, .colhead_dark .sign {
	padding: 0px 8px 0px 8px;
	font-size: 12pt;
	font-weight: bold;
	vertical-align: middle;
}

.colhead_dark {
	font-weight: bold;
	color: #cccccc;
	background:url('https://i.imgur.com/gu0AVqb.jpg') top left repeat;
}

.colhead_dark a:link {
	font-weight: bold;
	color: #cccccc;
}

.colhead a:link {
	font-weight: bold;
	color: #cccccc;
}

td.label {
	font-weight: bold;
	text-align: right;
	width: 180px;
}

table.slice {
	margin-top: -1px;
}

.error_message {
	border-top: 1px solid #000000;
	padding: 3px 0px 3px 0px;
	background-color: rgba(255,0,0,0.61);
	text-align: center;
	color: white;
	font-weight: bold;
}

.save_message {
	padding: 3px 0px 3px 0px;
	background-color: rgba(255,252,0,0.61);
	text-align: center;
	color: #000;
	font-weight: bold;
}

.elem_error {
	border: 3px solid #B00D0D;
}


.hide {
	display:none;	
}

/* Layout (home page) */

ul.stats li {
	padding: 0px 0px 1px 0px;
	color: #aaaaaa;
}

#nav_index a { /* extraneous link which can be removed to accomodate for small screen resolutions - alt link is provided in the form of the logo */
	display: none;
}

ul.poll li {
	padding: 0px 0px 0px 10px;
	margin: 0px;
}

ul.poll li.graph {
	margin-bottom: 3px;
	padding-left: 20px;
}

/* Layout (Torrents page) */

.show_torrents {
	width: 28px;
	height: 28px;
	background: url('http://whatimg.com/i/rw7qg3.png') no-repeat center center;
}

.hide_torrents {
	width: 28px;
	height: 28px;
	background: url('http://whatimg.com/i/rw7qg3.png') no-repeat center center;
}

.show_torrents_link {
	border: none;
	width: 28px;
	height: 28px;
	display: block;
}

.filter_torrents {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
}

.filter_torrents .submit {
	text-align:right;
	padding-top:5px;
	color: #ffffff;
}

.filter_torrents .inputtext {
	width:400px;	
}

.filter_torrents .smaller {
	width:300px;	
}

.filter_torrents .smallest {
	width:50px;	
}

.filter_torrents option {
	padding-right:8px;
}

.cat_list {
	margin-top: -1px;	
}

.cat_list tr td {
	border:none;
}

.select_container {
	margin:5px;	
}

.torrent_table tr {
	vertical-align:top;
}

.group {
	font-weight:bold;
	background-color: rgba(7,14,21,0.47);
}
.group_redline {
	font-weight:bold;
//	background-color: rgba(7,14,21,0.47);
	background-color: rgba(255,255,255,0.05);
}
.group_torrent {
	background-color: rgba(7,14,21,0.27);
}
.group_torrent span {
	float:right;
}
.group_torrent_redline span {
	font-weight:bold;
	float:right;
}

.group_torrent_redline  {
//	background-color: rgba(255,255,255,0.03);
}

.torrent {
	font-weight:bold;
	background-color: rgba(7,14,21,0.47);
}
.torrent_redline {
	font-weight:bold;
//	background-color: rgba(7,14,21,0.47);
	background-color: rgba(255,255,255,0.05);
}
.torrent span {
	font-weight:normal;
	float:right;
}
.torrent_redline span {
	font-weight:bold;
	float:right;
}

.torrent_table div.tags {
	font-weight:normal;
}

.torrent_table tr .center {
	vertical-align:middle;
	text-align:center;
}

.torrent_table td .small {
	width:20px;
}

.torrent_table a img {
	border:none;
}

.torrent_table table {
	width:94%;
	margin: 10px;
}

.torrent_table table .colhead_dark {
	background-image: none;
	background-color: rgba(7,4,21,0.47);
}

.nobr {
	white-space:nowrap;
}

.advanced_search {
	text-align:right;
	padding-bottom:5px;
}

/* Layout (Forums) */

table.forum_post {
	margin: 10px 0px;
}

table.forum_post td {
	border: 1px solid #000000;
}

table.forum_unread {
	border: 2px solid #ECDEDE;
}

td.avatar {
	width: 150px;
	padding: 0px;
}

table.forum_post td.body {
	width:690px;
}

blockquote {
	margin: 10px;
	padding: 10px;
	border: 1px dashed #555555;
	background-color: rgba(14,13,13,0.4);
	color: #d8d8d8;
}

 td blockquote {
	color:#505050;
}

/* Layout (Inbox) */

tr.unreadpm {
	background-color: #7A67EE;
}

/* Layout (Permission Page) */

.permission_head {
	width:400px;
	margin-left:auto;
	margin-right:auto;
}

.permissions {
	width:930px;
	margin-left:auto;
	margin-right:auto;
}
.permission_21 {
	color:grey;
}

.permission_4 {
	color:limegreen;
}
.permission_6 {
	color:yellow;
}
.permission_22 {
	font-weight:bold;
	color:yellow;
}
.permission_8 {
	font-weight:bold;
	color:yellow;
}
.permission_15 {
	font-weight:bold;
	font-size: 10pt;
	color:red;
}
.permission_20 {
	color:red;
}
.permission_11 {
	font-weight:bold;
	font-size: 10pt;
	color:cyan;
}
.permission_14 {
	font-weight:bold;
	color:cyan;
}
.permission_23 {
	color:cyan;
}
.permission_1 {
	font-weight:bold;
	font-size: 10pt;
	color:cyan;
}

.permission_container {
	float:left;
	width:300px;
	padding:5px;
}
.permission_container input {
	margin:0px 3px 5px 0px;
	vertical-align:top;
}

.submit_container {
	clear:both;
	text-align:right;
}

/* Layout (Invite tree) */

ul .invitetree {
	margin: 0px 0px 0px 25px;
}

.invitetree li {
	list-style: none;
	margin: 10px 2px;
}

/* Layout (MISC) */
.poll{list-style:none; padding:10px; margin:5px}
.poll li{clear:both}
.poll .graph{padding:0 0 15px 0}
.poll .graph span{display:block;  height:19px;  float:left}
 
 .curtain {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.lightbox {
	display: none;
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index:1002;
	overflow: auto;
 }

.ui-corner-all {
	padding: 1.1em 1.0%;
	color: black;
	background-color: rgba(255,255,255,0.08);
	text-shadow: black 0.1em 0.1em 0.2em
}

textarea {
	padding: 2px 3px;
	border: 1px solid rgba(255,255,255,0.26);
	background-color: rgba(255,255,255,0.08);
	color: #ffffff;
}

select {
	padding: 2px 3px;
	border: 1px solid rgba(255,255,255,0.26);
	background-color: rgba(255,255,255,0.35);
	color: #d8d8d8;
}

.signature { margin: 2em 0 0 0; padding: .5em 0 0 0; border-top: 1px dotted #666; }

.last_read a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover { border: none; }
.unread_locked_sticky,
.read_locked_sticky,
.read_sticky,
.unread_sticky,
.unread_locked,
.read_locked,
.unread,
.read {
  padding:0 0 0 30px !important;
}